footer {
    grid-area: footer;
    display: flex;
    flex-direction: nowrap;
    align-items: baseline;
    align-content: space-between;
    padding: 50px;
    background-color: rgb(241, 241, 241);
    width: 100%;
    color: #033E8C;
    position: relative;
    margin-top: 50px;

    a {
        color: rgb(11, 11, 59);
        font-family: Arial, Helvetica, sans-serif;
        font-size:medium;
    }
    .menuFooter {
        margin: 20px;
        
    }
    iframe {
        margin-top: 5px;
        @include tamanio (200px,100px);
    }
    .imagenredes {
        @include tamanio (35px,35px);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 5px;
    }
}

